@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

header .navbar ul .active {
    color: blue;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    box-shadow: 0px 5px 10px black;

    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul {
    list-style: none;

}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}

header .navbar ul li a:hover {
    background-color: black;
    color: aliceblue;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
    background-color: aliceblue;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid black;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:hover>ul,
header .navbar ul li:focus-within>ul {
    display: initial;
}


#menubar {
    display: none;
}

header label {
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}














#heading {
    background-color: royalblue;
    margin-bottom: 50px;
}

#heading .sec .sec1,
#heading .sec .sec2 {
    margin: 25px;


}

#heading .sec p {
    text-align: center;
    color: white;
    letter-spacing: 3px;

}

#heading .sec h6 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;

}

#heading .sec p a {
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

#heading h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: aqua;
    text-shadow: 5px 5px 15px red;
    letter-spacing: 5px;


}

#item div {
    width: 99%;
    height: 540px;
    border: 5px solid plum;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#category h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    padding: 20px;
    color: coral;

}

#category img {
    cursor: pointer;
    margin: 10px;
}

#category .container .cont:hover {
    box-shadow: 5px 5px 10px cornflowerblue;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .cont {
    border-radius: 10px;
    background-color: antiquewhite;
    margin-top: 30px;
    margin-left: 13px;
}

.container .cont .fif {
    margin-left: 10px;
}

#feature .mainfe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feature h1 {
    text-align: center;
    margin: 20px 2px;
    font-size: 50px;
    color: cadetblue;
}


#feature .mainfe .fe {
    padding: 5px;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}

#feature .mainfe .fe:hover {
    box-shadow: 5px 5px 15px blue;
}

#gallery h1 {
    text-transform: capitalize;
    font-size: 50px;
    margin: 20px;
    text-align: center;
    color: brown;
}

#gallery .gal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}

#gallery .gal .gal1 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#gallery .gal .gal1:hover {
    box-shadow: 5px 5px 15px black;
}

#brands h1 {
    text-align: center;
    margin: 50px;
    font-size: 50px;
    color: blueviolet;

}

#brands .comp {
    border: 2px solid violet;
    width: 19%;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

#brands .comp:hover {
    box-shadow: 5px 5px 15px purple;
}

#brands .main {
    display: flex;
}

#deals .text {
    background-image: url("	https://abfsteelindia.com/wp-content/uploads/2015/08/v21.jpg");
    height: 400px;
    position: relative;

}

#deals .text1 {
    background-image: url("https://abfsteelindia.com/wp-content/uploads/2015/08/calltoactionbg8.jpg");
    height: 400px;
    position: relative;

}

#deals .text p {
    color: aliceblue;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 33%;
    margin: 30px;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 5px;
}

#deals .text h1 {
    top: 15%;
    left: 24%;
    position: absolute;
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(226, 143, 19);
    margin-bottom: 40px;
    letter-spacing: 5px;
}

#deals .text .assure {
    position: absolute;
    top: 45%;
    left: 38%;
}

#deals .text button {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: greenyellow;

}

#deals .text button:hover {
    box-shadow: 5px 5px 10px forestgreen;
}

#deals .text button a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#deals .text1 p {
    color: aliceblue;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 33%;
    margin: 30px;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 5px;
}

#deals .text1 h1 {
    top: 15%;
    left: 24%;
    position: absolute;
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(226, 143, 19);
    margin-bottom: 40px;
    letter-spacing: 5px;
}

#deals .text1 .assure {
    position: absolute;
    top: 45%;
    left: 38%;
}

#deals .text1 button {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: greenyellow;

}

#deals .text1 button:hover {
    box-shadow: 5px 5px 10px forestgreen;
}

#deals .text1 button a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#deals .text2 {
    background-image: url("	https://abfsteelindia.com/wp-content/uploads/2015/08/v21.jpg");
    height: 400px;
    position: relative;

}

#deals .text2 p {
    color: aliceblue;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 33%;
    margin: 30px;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 5px;
}

#deals .text2 h1 {
    top: 15%;
    left: 24%;
    position: absolute;
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(226, 143, 19);
    margin-bottom: 40px;
    letter-spacing: 5px;
}

#deals .text2 .assure {
    position: absolute;
    top: 45%;
    left: 38%;
}

#deals .text2 button {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: greenyellow;

}

#deals .text2 button:hover {
    box-shadow: 5px 5px 10px forestgreen;
}

#deals .text2 button a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-details .details {
    width: 40%;

}

#contact-details .details span,
#form-details form span {
    font-size: 25px;
    color: red;

}

#contact-details .details h2,
#form-details form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
    color: darkgreen;
}

#contact-details .details h3 {
    font-size: 25px;
    padding-bottom: 15px;
    color: darkmagenta;

}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}


#contact-details .details li i {
    font-size: 20px;
    padding-right: 22px;
    color: darkolivegreen;

}

#contact-details .details li p {
    margin: 0;
    font-size: 20px;
    color: darkcyan;

}

#contact-details .map {
    width: 55%;
    height: 400px;

}


#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}





/*plate*/
#info .info1 p {
    margin: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    color: red;
}

#info .info2 {
    margin: 100px;

}

#info .info2 ul {
    margin-bottom: 50px;
    margin-left: 60px;
}

#info .info2 h1 {
    margin-bottom: 20px;
    color: blue;
}

#info .info2 ul li {
    line-height: 50px;
    font-size: 20px;
    color: orangered;
}

footer {
    text-align: center;
    margin-top: 50px;
}






























@media(max-width:991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;

    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 1px solid black;
        display: none;

    }

    header .navbar ul li {
        width: 100%;

    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;

    }

    header .navbar ul li ul li {
        background-color: #fff;

    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menubar:checked~.navbar {
        display: initial;
    }
}







@media(max-width:799px) {


    header {

        display: block;
        width: 100%;
       position: sticky;
       top: -156px;
       left: 0;
       right: 0;
    }

    header a img {
        width: 335px;
        height: 192px;
    }

    header label {
        display: initial;
        margin-left: 200px;
        font-size: 50px;
    }

    #heading {
        width: 100%;
    }

    #heading h1 {
        text-align: center;
        font-size: 73px;


    }

    #heading .sec p {
        text-align: center;
        font-size: 43px;

    }

    #heading .sec h6 {
        text-align: center;
        font-size: 49px;
        margin-left: 60px;
        line-height: 123px;
    }

    #banner img {
        display: block;
        background-size: cover;
        width: 100%;
    }

    #item div {
        width: 98%;
        height: 540px;
        border: 5px solid plum;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #item img {
        display: block;
    }

    #category h1 {
        text-align: center;
        text-transform: capitalize;
        font-size: 50px;
        padding: 20px;
        color: coral;
        width: 100%;
    }

    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;

    }

    #category img {
        margin: 20px;
        border: 5px solid gray;
        border-radius: 5px;
        padding: 5px;
        width: 94%;
        height: 100%;
    }

    .container .cont {
        border-radius: 40px;
        background-color: wheat;
        margin-top: 20px;
        margin-left: 5px;
        display: block;
        width: 90%;
    }

    #feature h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 50px;
        color: cadetblue;
    }

    #feature .mainfe {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        width: 100%;

    }

    #feature .mainfe .fe {
        margin-bottom: 10px;
        border: 5px solid black;
        width: 90%;
    }

    #feature .mainfe .fe img {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }

    #gallery h1 {


        text-align: center;

    }

    #gallery .gal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 30px;
        flex-direction: column;
    }

    #gallery .gal .gal1 {
        margin-top: 20px;
    }

    #gallery .gal .gal1 img {
        width: 580px;

    }

    #brands h1 {
        text-align: center;
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 50px;
        color: blueviolet;
    }

    #brands .main {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        align-items: center;

    }

    #brands .main .comp img {
        width: 580px;
    }

    #brands .comp {
        border: 2px solid violet;
        width: 600px;
        height: 200px;
        margin: 20px;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
    }

    #deals .text button {

        top: 85%;
        left: 60%;

    }

    #deals .text p {

        top: 40%;
        left: 33%;

    }

    #deals .text .assure {
        position: absolute;
        top: 65%;
        left: 38%;
    }

    #deals {
        display: none;
    }

    #info .info1 p {
        margin: 20px;
        line-height: 40px;
        letter-spacing: 1px;
        font-size: 20px;
        color: red;
    }

    #info .info1 {
        width: 650px;
    }

    #contact-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}











@media(max-width:477px) {
    body{
        width: 100%;
    }
    header {

        width: 100%;

    }

    #heading {
        width: 100%;
    }

    #heading h1 {
        text-align: left;
        font-size: 30px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: aqua;
        text-shadow: 5px 5px 15px red;
        letter-spacing: 5px;
    }

    #heading .sec p {
        text-align: left;
        color: white;
        letter-spacing: 3px;
        margin-left: -15px;
        font-size: 16px;
    }

    #heading .sec h6 {
        text-align: left;
        color: white;
        letter-spacing: 3px;
        font-size: 16px;
        margin-left: 55px;
    }

    #category h1 {
        text-align: left;
        text-transform: capitalize;
        font-size: 50px;
        padding: 20px;
        color: coral;
    }

    #category img {
        margin: 2px;
        border: 5px solid gray;
        border-radius: 5px;
        padding: 5px;
    }

    #banner img {
        display: block;

        background-size: cover;
        width: 98%;
        margin: 5px;
    }

    #info .info1 {
        width: 380px;
    }

    #item div {
        width: 97%;
        height: 540px;
        border: 5px solid plum;
        margin-left: 5px;
        margin-right: 0;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container .cont {
        border-radius: 0;
        background-color: #fff;
        margin-top: 20px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }

    .container .cont img {

        width: 300px;
    }

    .container {
        width: 300px;
    }

    #feature h1 {
        text-align: left;
        margin-top: 30px;
        font-size: 32px;
        color: cadetblue;
        margin-left: 5px;
        width: 100%;
    }

    #feature .mainfe {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 13px;
    }

    #gallery h1 {

        text-align: left;

    }

    #gallery .gal {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 70px;
    }

    #gallery .gal .gal1 img {
        width: 270px;
    }

    #gallery .gal .gal1 {
        margin: 0;
        margin-top: 10px;
        width: 280px;
    }

    #brands h1 {
        text-align: left;
        margin: 40px;
        font-size: 50px;
        color: blueviolet;
    }

    #brands .main .comp img {
        width: 260px;
    }

    #brands .comp {
        border: 2px solid violet;
        width: 280px;
        height: 200px;
        margin: 0;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
    }

    #brands .main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        align-items: flex-start;
    }

    #deals {
        display: none;
    }

    #deals .text {
        background-image: url("	https://abfsteelindia.com/wp-content/uploads/2015/08/v21.jpg");
        height: 400px;
        position: relative;
        width: 350px;
        background-size: cover;
    }

    #deals .text h1 {
        top: 10%;
        left: 10%;
        position: absolute;
        text-transform: capitalize;
        font-size: 20px;
        color: rgb(226, 143, 19);
        margin-bottom: 40px;
        letter-spacing: 5px;
    }

    #deals .text p {
        color: aliceblue;
        text-align: left;
        position: absolute;
        top: 20%;
        left: 2%;
        margin: 10px;
        text-transform: capitalize;
        font-size: 30px;
        letter-spacing: 5px;
    }

    #deals .text .assure {
        position: absolute;
        top: 45%;
        left: 5%;
        color: darkgreen;
    }

    #deals .text button {
        top: 68%;
        left: 10%;
    }
}